:where(.header, .footer),
[data-section]:has(:not(.carousel)),
[data-section]:has(.carousel) {
  grid-column: 2;
}

[data-section] {
  padding-block-end: var(--gap-224);
}

[data-section]:has(.carousel) {
  grid-column: 2;
  display: grid;
  grid-template-columns: subgrid;

  & h2 {
    grid-column: 2;
  }

  & .carousel {
    grid-column: 1 / -1;
  }

  @media screen and (width <= 100rem) {
    grid-column: 1 / -1;

    & .carousel {
      padding-inline: clamp(var(--gap-20), 6vw, 96px);
      scroll-padding-inline: clamp(var(--gap-20), 6vw, 96px);
    }
  }
}

.main {
  display: contents;
}

h2.section__title {
  font-size: clamp(var(--font-36), 6.5vw, var(--font-56));
  text-transform: uppercase;

  &:has(+ :where(.section__wrapper, p)) {
    padding-block-end: var(--gap-36);
  }

  &:not(:has(+ :where(.section__wrapper, p))) {
    padding-block-end: var(--gap-72);
  }
}

.section__description {
  max-inline-size: 55ch;
  font-size: clamp(var(--font-18), 3vw, var(--font-24));
  padding-block-end: var(--gap-72);
}
