@import url('../components/cookie.css');
@import url('../footer/footer.css');

.landing {
  display: grid;
  grid-template-columns: var(--outside) minmax(320px, var(--min-grid-size)) var(--outside);
  /* column-gap: var(--gap-80); */
  column-gap: clamp(var(--gap-20), 10vw, var(--gap-240));

  & > :where(main, button) {
    grid-column: 2;
  }

  & > :where(header, footer) {
    container: top-bottom / inline-size;
    grid-column: 1 / -1;
    inline-size: min(100%, var(--min-grid-size));
    margin-inline: auto;
  }

  & > #back-to-top {
    margin-inline: auto;
  }
}

@media screen and (max-width: 1568px) {
  header,
  footer {
    padding-inline: var(--gap-20);
  }
}

.grid {
  --colums: 12;
  --colums-width: 6rem;
  --outside: 1fr;

  display: grid;
  grid-template-columns: repeat(var(--colums), minmax(0, var(--colums-width)));
  column-gap: var(--gap-36);
}

/* MAIN CONTENT */
.landing__main {
  container: main / inline-size;
  display: grid;
  row-gap: var(--gap-240);
  padding-block-end: var(--gap-128);
}

.landing__main > section:first-of-type {
  padding-block-start: clamp(var(--gap-64), 6vw, var(--gap-192));
}

section > :where(.section__title, .section__description) {
  grid-column: 1 / -1;
  max-inline-size: 960px;
  text-align: center;
  justify-self: center;
}

section > h1 {
  font-size: clamp(var(--font-36), 7vw, var(--font-56));
}

h2.section__title {
  font-size: clamp(var(--font-32), 6.5vw, var(--font-64));
  text-transform: uppercase;
}
section:where(#overview, #features, #faqs):not(:has(.section__description)) h2 {
  padding-block-end: var(--gap-96);
}

.section__description {
  padding-block: var(--gap-36) var(--gap-96);
  color: var(--grey-900);
  font-size: clamp(var(--font-18), 3vw, var(--font-20));
  font-weight: 300;
  /* text-wrap: balance; */
}

section#features:has(.features__partners) .section__description {
  padding-block: var(--gap-36);
}

@media screen and (max-width: 1200px) {
  .grid {
    --colums: 3;
    --colums-width: 1fr;
    column-gap: var(--gap-16);
  }
  section#faq h2 span {
    word-spacing: normal;
  }
}
@media screen and (max-width: 960px) {
  .landing {
    /* grid-template-columns: var(--outside) minmax(320px, var(--min-grid-size)) var(--outside); */
    column-gap: clamp(var(--gap-20), 5vw, var(--gap-48));

    /* & > #back-to-top {
      margin-inline: auto;
    } */
  }
}

@media screen and (max-width: 768px) {
  .landing main.landing__main--has-scroll {
    grid-column: 1 / -1;

    & > *:not(.horizontal-scroll) {
      padding-inline: clamp(var(--gap-20), 6vw, var(--gap-240));
    }

    & .horizontal-scroll :where(.section__title, .section__description) {
      margin-inline: var(--gap-20);
    }
  }
}
