:root {
  --primary: #5344ff;
  --link-color: #006bd6;
  --white: #ffffff;
  --grey-100: #f1f1f1;
  --grey-200: #dedede;
  --grey-300: #959595;
  --grey-400: #7c7c7c;
  --grey-500: #595959;
  --black: #000000;
  --alert: #ff006a;
  --attension: #f2ea02;
  --wa-color: #1dc93f;

  /* CORNER SIZES */
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-14: 0.875rem;
  --radius-16: 1rem;
  --radius-18: 1.125rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-28: 1.75rem;
  --radius-32: 2rem;

  /* GAP SIZES */
  --gap-4: 0.25rem;
  --gap-6: 0.375rem;
  --gap-8: 0.5rem;
  --gap-10: 0.625rem;
  --gap-12: 0.75rem;
  --gap-14: 0.875rem;
  --gap-16: 1rem;
  --gap-18: 1.125rem;
  --gap-20: 1.25rem;
  --gap-22: 1.375rem;
  --gap-24: 1.5rem;
  --gap-28: 1.75rem;
  --gap-32: 2rem;
  --gap-36: 2.25rem;
  --gap-40: 2.5rem;
  --gap-48: 3rem;
  --gap-56: 3.5rem;
  --gap-64: 4rem;
  --gap-72: 4.5rem;
  --gap-80: 5rem;
  --gap-88: 5.5rem;
  --gap-96: 6rem;
  --gap-128: 8rem;
  --gap-152: 9.5rem;
  --gap-176: 11rem;
  --gap-192: 12rem;
  --gap-208: 13rem;
  --gap-224: 14rem;
  --gap-240: 15rem;

  /* FONT SIZES */
  --font-12: 0.75rem;
  --font-13: 0.813rem;
  --font-14: 0.875rem;
  --font-15: 0.938rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-24: 1.5rem;
  --font-28: 1.75rem;
  --font-32: 2rem;
  --font-36: 2.25rem;
  --font-40: 2.5rem;
  --font-48: 3rem;
  --font-56: 3.5rem;
  --font-64: 4rem;
  --font-72: 4.5rem;
  --font-80: 5rem;
  --font-88: 5.5rem;
  --font-96: 6rem;
  --font-112: 7rem;
  --font-128: 8rem;

  /* DOM ELEMENT SIZES */
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-22: 1.375rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-112: 7rem;
  --size-128: 8rem;
  --size-152: 9.5rem;
  --size-176: 11rem;
  --size-192: 12rem;
  --size-208: 13rem;
}
